<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name="appurl" value="${appurl}"/>
  <parameter name="grid" value="${grid}"/>
  <parameter name="browser" value="chrome"/>
   <parameter name="htmlpath" value="${htmlpath}"/>
    <parameter name="pptfile" value="${pptfile}"/>
    <packages>
      <package name="pos.script"/>
    </packages>
  </test>
</suite>